*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
header{
    background-image: url(../images/post-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25vh;
}
#logo_img{
    width: 10%;
}
nav{
    background-color: white;
}
#main_menu_list{
    width: 85%;
}
.nav-item:hover{
    background-color: #DE9868;
    color: white;
    border-radius: 10px;
}
#drop_btn{
    background-color: white;
}
section h1{
    font-size: 3.75rem;
}
section p{
    font-size: 1.25rem;
}
footer h5{
    background-color: #DE9868;
}