*{
    padding: 0;
    margin: 0;
    text-align: justify;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
body{
    background-image: url(../images/background.jpg);
    background-size: cover;
}
.navbar-brand{
    width: 13%;
}
#nav_menu{
    background-color: #00B050;
}
main h1{
    color: #BE0000;
}
main h2{
    color: #FFFF00;
    background-color: #00B050;
}
.btn.border-2.border-success{
    background-color: #92D050;
    color: white;
}
footer h2{
    color: #FFFF00;
    background-color: #00B050;
}