*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

body{
    width: 100%;
    height: 100vh;
    padding: 5px 5px;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
    padding: 50px 50px;
    background-color: pink;  
}

form input{
    width: 100%;
    margin: 10px 10px;
    border-radius: 10px;
    text-align: center;
}