*{
    margin: 0;
    padding: 0;
    text-align: justify;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}
body{
    width: 100%;
    height: 100vh;
    padding: 1vh 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container_{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
}

fieldset{
    width: 450px;
    height: 310px;
    padding: 5%;
    border-radius: 20px;
    text-align: center;
}

#submit_{
    width: 40px;
    height: 30px;
}