*{
    margin: 0;
    padding: 0;
    text-align: justify;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}
body{
    width: 100%;
    height: 100vh;
    padding: 1vh 1%;
}

#container_{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

