
@{
    ViewBag.Title = "UseRequest";
    Layout = null;
}

<h1>THÔNG TIN SINH VIÊN</h1>
<form name="form1" action="" method="post">
    <table>
        <tr>
            <td>Mã sinh viên:</td>
            <td><input type="text" name="Id" /></td>
        </tr>
        <tr>
            <td>Họ và tên:</td>
            <td><input type="text" name="Name" /></td>
        </tr>
        <tr>
            <td>Điểm:</td>
            <td><input type="text" name="Marks" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" name="Register" value="Đăng ký"/></td>
        </tr>
    </table>
</form>
