*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 450px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
}
.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}
.hidden {
    display: none;
}
label {
    display: block;
    margin: 5px 0;
}
input[type="text"] {
    padding: 8px;
    margin: 5px 0;
    width: 70%;
    border-radius: 10px;
}
input[type="submit"]{
    width: 100%;
    margin: 20px 0px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border: none;
    background: #2c3e50;
    color: white;
}
#thong_bao{
    margin: 20px 5px;
    text-align: justify;
}